<!DOCTYPE html>
<html>
  <head>
    <title>PolymerRailsExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= html_import_tag 'application'%>
  </head>

  <body>
    <task-header>Tasks</task-header>
    <!-- Add side drawer for menu items -->
    <app-drawer id="drawer" swipe-open></app-drawer>
    <!-- <sample-content size="10">test</sample-content> -->
    
    <%= yield %>

  </body>
</html>
