<!DOCTYPE html>
<html>
  <head>
    <title>PolymerRailsExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= html_import_tag 'application'%>
  </head>

  <body class="fullbleed layout vertical">
    <paper-header-panel>
      <paper-toolbar>
        <paper-icon-button icon="polymer"></paper-icon-button>
        <span class="title">Task List</span>

        <paper-tabs selected="0">
          <paper-tab><%= link_to('Task', to_dos_path) %></paper-tab>
          <paper-tab><%= link_to('New', new_to_do_path) %></paper-tab>
        </paper-tabs>
      </paper-toolbar>

      <!-- Why does the content have to go inside the header-panel? -->
      <%= yield %>

    </paper-header-panel>
  </body>
</html>
